.main-heading{
    margin-top: 10px ;
    text-align: center;
}
.orderIdInput{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.btn-outer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.order-block {
    text-align: center;
    padding: 5px;
}
.card-header {
    color: #fff;
    background-color: #212529;
    border-color:#212529 ;
    border-radius: 20px 20px 0px 0px  !important;
}
.card {
    border-radius: 20px;
}
.card-footer{
    background-color: #fff;
    border: none;
}
.btnClass{
    width: 100%;
    border-radius:0 0 20px 20px ;
}
.order-status{
    font-size: 1.2em;
    margin-bottom: 20px ;
    padding: 5px 10px;
    border-radius: 33px !important;
}
#empty-order-box {
    width:  400px;
    height: 400px;
    margin: auto;
}
/*  
<div class="container">
        <h1>Order Status Management</h1>
        <input type="text" placeholder="Please enter Order ID" id="order-id-input">
        <button onclick="executeOrder(()=>addDoneClass(9))">Execute</button>
        <h2 id="order-id-info"></h2>
        <div class="status-block" id="order-placed">
            Order placed
        </div>
        <div class="status-block" id="chef-received">
            Chef received the order and started preparing
        </div>
        <div class="status-block" id="'pizza-sauce">
            Pizza Sauce added
        </div>
        <div class="status-block" id="first-cheeze">
            First layer of cheeze added
        </div>
        <div class="status-block" id="toppings-added">
            Toppings added
        </div>
        <div class="status-block" id="second-cheeze">
            Second layer of cheeze added
        </div>
        <div class="status-block" id="pizza-baked">
            Pizza baked!
        </div>
        <div class="status-block" id="oregano-added">
            Oregano added and packed
        </div>
        <div class="status-block" id="package-counter">
            Package received at counter
        </div>
        <div class="status-block" id="package-handover">
            The order is ready and handed over to the Zomato guy!
        </div>
    </div>
*/
